---
import Head from '../../components/common/Head.astro';
import Header from '../../components/common/Header';
import Footer from '../../components/common/Footer';
import Research from '../../components/research/Research';
---
<html lang="ja">
<head>
  <Head title="RESEARCH | 大阪大学基礎工学研究科 長井研究室" />
</head>
<body>
  <Header location="research" />
  <Research client:load />
  <Footer />
</body>
</html>