.wrapper {
  max-width: 1248px;
  margin: 0 auto;
  padding: var(--spacing-13) var(--spacing-3) var(--spacing-21);
  display: grid;
  grid-template-columns: 1fr 280px;
  gap: var(--spacing-5);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-13);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.sectionTitle {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  font-size: var(--font-size-h3);
}

.sectionTitle::before {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-red);
  border-radius: 1rem;
  display: block;
  margin-top: 8px;
}

.sectionContents {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.professors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  gap: var(--spacing-3);
}

.members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
  gap: var(--spacing-5) var(--spacing-3);
}

.img {
  line-height: 0;
  margin-bottom: var(--spacing-2);
}

.img img {
  width: 100%;
  aspect-ratio: 1.414213562 / 1;
  object-fit: cover;
  border-radius: var(--border-radius-default);
}

.professorTitle {
  color: var(--primary-red);
  font-weight: bold;
}

.title {
  font-size: var(--font-size-small);
  color: var(--primary-red);
  font-weight: bold;
}

.professorName {
  font-size: var(--font-size-h3);
}

.email a {
  color: var(--body-black);
  text-decoration: none;
}

.email a:hover {
  color: var(--primary-red);
  text-decoration: underline;
}

.professorDescription {
  margin-top: var(--spacing-2);
  line-height: 1.7;
}

.description {
  margin-top: var(--spacing-2);
  line-height: 1.7;
  font-size: var(--font-size-small);
}

.studentDescription {
  margin-top: var(--spacing-1);
  line-height: 1.5;
  font-size: var(--font-size-small);
  color: var(--dark-gray);
}

.alumni {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.degreeSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0);
}

.degreeSection {
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: 4.5rem 1fr;
}

.alumniYear {
  margin-bottom: var(--spacing-1);
  font-size: var(--font-size-large);
  line-height: 1;
}

.alumniDegree {
  font-size: var(--font-size-default);
}

.alumniList {
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--spacing-0);
  flex-wrap: wrap;
}

.alumniName {
  display: flex;
  gap: var(--spacing-0);
}

.alumniName:not(:first-child)::before {
  content: '/';
}

.side {
  padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) var(--spacing-5);
  border-radius: var(--border-radius-default);
  background-color: var(--background-light-gray);
  border: 1px solid var(--border);
  position: sticky;
  top: 8rem;
  height: fit-content;
}

.menu {
  display: block;
  position: relative;
  line-height: 3rem;
  color: var(--body-black);
  text-decoration: none;
}

.menu.active {
  color: var(--primary-red);
  font-weight: bold;
  pointer-events: none;
}

.menu.active::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--primary-red);
  position: absolute;
  top: 55%;
  left: -1.125rem;
  transform: translateY(-51%);
}