---
import Head from '../components/common/Head.astro';
import Header from '../components/common/Header.tsx';
import Footer from '../components/common/Footer.tsx';
import NotFound from '../components/top/NotFound.tsx';
---
<html lang="ja">
<head>
  <Head />
</head>
<body>
  <Header client:load location="404" />
  <NotFound />
  <Footer />
</body>
</html>