---
import Head from '../components/common/Head.astro';
import Header from '../components/common/Header.tsx';
import Footer from '../components/common/Footer.tsx';
import Top from '../components/top/Top.tsx';
---
<html lang="ja">
<head>
  <Head />
</head>
<body>
  <Header location="" />
  <Top />
  <Footer />
</body>
</html>
