---
import Head from '../components/common/Head.astro';
import Header from '../components/common/Header.tsx';
import Footer from '../components/common/Footer.tsx';
import Team from '../components/team/Team.tsx';
---
<html lang="ja">
<head>
  <Head title="TEAM | 大阪大学基礎工学研究科 長井研究室" />
</head>
<body>
  <Header location="team" />
  <Team client:load />
  <Footer />
</body>
</html>
