.project {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: var(--spacing-13) var(--spacing-3);
}

.content a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.content img {
  display: block;
  width: 100%;
  max-width: 560px;
  margin: auto;
  border-radius: var(--border-radius-default);
}

.content img ~ em {
  display: block;
  margin: var(--spacing-1) auto 0;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-gray);
  font-size: var(--font-size-small);
}

.content > :first-child {
  margin-top: 0;
}

.content p {
  line-height: 1.7;
}

.content p + p {
  margin-top: var(--spacing-3);
}

.content h2 {
  font-size: var(--font-size-large);
  margin: var(--spacing-8) 0 var(--spacing-3);
  padding-bottom: var(--spacing-1);
  border-bottom: 1px solid var(--border);
}

.content h3 {
  font-size: 1.25rem;
  margin: var(--spacing-5) 0 var(--spacing-2);
}

.content h4 {
  font-size: var(--font-size-default);
  margin: var(--spacing-3) 0 var(--spacing-1);
}

.content ul,
.content ol {
  padding-left: var(--spacing-5);
  margin: var(--spacing-3) 0 var(--spacing-3);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.content ul ul,
.content ul ol,
.content ol ul,
.content ol ol {
  margin: 0;
}

.content li > ul,
.content li > ol {
  margin-top: var(--spacing-1);
}

.content ul > li {
  list-style: disc;
}

.content ul > li::marker {
  font-size: 0.8em;
}

.content ol > li {
  list-style: decimal;
}

.content ol > li::marker {
  letter-spacing: 2.5px;
}

.content table {
  margin: var(--spacing-3) auto;
  width: auto;
  border-collapse: collapse;
  line-height: 1.5;
  word-break: normal;
  display: block;
  overflow: auto;
}

.content td,
.content th {
  padding: var(--spacing-05);
  border: 1px solid var(--border);
  background: var(--white);
}

.content th {
  font-weight: 700;
  background: var(--background-gray);
}

.content math {
  padding: var(--spacing-3);
  margin: var(--spacing-3) auto;
  background-color: var(--background-gray);
  border-radius: var(--border-radius-small);
}

.content code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  padding: var(--spacing-0) var(--spacing-1);
  margin: 0 var(--spacing-0);
  background-color: var(--background-gray);
  border-radius: var(--border-radius-small);
  -webkit-font-smoothing: antialiased;
  font-size: 0.85em;
}

.content iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: var(--spacing-3) auto;
  display: block;
}

.title {
  width: 100%;
  font-size: var(--font-size-h3);
  font-weight: normal;
  text-align: center;
  align-items: center;
  margin-bottom: var(--spacing-8);
}

.title::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--primary-red);
  margin: var(--spacing-5) auto 0;
}

.subTitle {
  font-size: var(--font-size-large);
  color: var(--dark-gray);
  display: block;
  margin-top: var(--spacing-2);
}

.mainVisual {
  width: 100%;
  margin: 0 auto var(--spacing-8);
  line-height: 0;
}

.mainVisual img {
  width: 100%;
  aspect-ratio: 16/ 9;
  object-fit: cover;
  border-radius: var(--border-radius-default);
}

.box {
  margin-top: var(--spacing-8);
  padding: var(--spacing-5);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--border);
}

.author {
  font-size: var(--font-size-large);
  font-weight: bold;
}

.author span {
  display: block;
  font-size: var(--font-size-default);
  font-weight: bold;
  color: var(--dark-gray);
  margin-bottom: var(--spacing-0);
}

.mainPublications {
  margin-top: var(--spacing-3);
}

.mainPublicationsTitle {
  font-weight: bold;
  margin-bottom: var(--spacing-2);
}

.mainPublicationsList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  font-size: var(--font-size-small);
  padding-left: var(--spacing-2);
  list-style: decimal;
}

.slideWrapper {
  border-radius: var(--border-radius-default);
  overflow: hidden;
  margin-top: var(--spacing-8);
}

.slideImageWrapper {
  position: relative;
  width: 100%;
  padding-top: 75%;
}

.slideImage {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: contain;
}

.control {
  padding: var(--spacing-1);
  background-color: var(--background-gray);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-1);
}

.controlButton {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  color: var(--dark-gray);
}

.controlButton:hover {
  color: var(--primary-red);
}

.controlButton:disabled {
  color: var(--border);
}

.backToList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-8);
}

@media (max-width: 1023px) {
  .project {
    padding: var(--spacing-5) var(--spacing-2) var(--spacing-8);
  }

  .title {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-5);
  }

  .subTitle {
    font-size: var(--font-size-default);
  }

  .title::after {
    width: 3rem;
    margin-top: var(--spacing-3);
  }

  .content h2 {
    margin: var(--spacing-5) 0 var(--spacing-3);
  }

  .content ul,
  .content ol {
    padding-left: var(--spacing-3);
  }

  .content math {
    padding: var(--spacing-2);
  }

  .box {
    padding: var(--spacing-2);
  }

  .author {
    font-size: var(--font-size-default);
  }

  .author span {
    margin-bottom: 0;
  }
}
