---
import '../../styles/global.css';
const {
  lang = 'ja',
  title = '大阪大学基礎工学研究科 長井研究室',
  description = '大阪大学基礎工学研究科、システム創成専攻/人工知能先端研究センター(AIX) 長井研究室のウェブサイトです。「ロボットはもっと賢くなる」をテーマに、ロボットの知能や人工知能に関する研究を行っています。'
} = Astro.props;
---

<meta charSet="UTF-8" />
<meta name="description" property="og:description" content={description} />
<!-- <meta property="og:image" content="http://www.rlg.sys.es.osaka-u.ac.jp/ogimage.png" /> -->
<meta property="og:image:alt" content={lang === 'en' ? "大阪大学基礎工学研究科 長井研究室" : "OSAKA UNIVERSITY SCHOOL OF ENGINEERING SCIENCE NAGAI LAB"} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<meta name="twitter:card" content="summary_large_image" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cc322b">
<meta name="msapplication-TileColor" content="#cc322b">
<meta name="theme-color" content="#cc322b">

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap" rel="stylesheet" />